.footer {
  margin: 100px 200px 20px 200px;
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -50px;
    .left {
      display: flex;
      align-items: center;
      .logo {
        color: blue;
        font-weight: bold;
        font-size: 24px;
      }
      .copyright {
        margin-left: 20px;
        font-size: 12px;
        color: grey;
      }
    }
    .right {
      img {
        height: 100px;
      }
    }
  }
}
